.filter {
  display: flex;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    flex-wrap: wrap;

    // margin-bottom: 40px;
    margin-top: -15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    text-align: center;

    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__button {
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--primary-gree-color-button);
  transition: background-color 250ms var(--times-functional),
    color 250ms var(--times-functional),
    box-shadow 250ms var(--times-functional);
  margin-right: 8px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border: none;

  &:hover,
  &filter__button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-top: 15px;
  }
}
